.not_in_mm .rich_media_meta_list {
    position: relative;
    z-index: 1
}

.not_in_mm .rich_media_content {
    position: relative
}

.not_in_mm .profile_container {
    width: 535px;
    position: absolute;
    top: 100%;
    left: 65px;
    font-size: 14px;
    *margin-top: 10px
}

.not_in_mm .profile_inner {
    position: relative;
    padding: 30px 22px 36px 144px;
    background-color: #fff;
    border: 1px solid #d9dadc;
    *zoom: 1
}

.not_in_mm .profile_arrow_wrp {
    position: absolute;
    left: 22px;
    top: -8px
}

.not_in_mm .profile_arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 8px;
    border-style: dashed;
    border-color: transparent;
    border-top-width: 0;
    border-bottom-color: #d9dadc;
    border-bottom-style: solid;
    position: absolute;
    top: 0
}

.not_in_mm .profile_arrow.arrow_in {
    margin-top: 1px;
    border-bottom-color: #fff
}

.not_in_mm .profile_avatar {
    position: absolute;
    width: 100px;
    left: 24px;
    top: 24px;
    height: 100px!important
}

.not_in_mm .profile_nickname {
    font-size: 16px;
    font-weight: 400
}

.not_in_mm .profile_meta {
    margin-top: 5px;
    overflow: hidden;
    *zoom: 1
}

.not_in_mm .profile_meta_label {
    float: left;
    width: 4em;
    margin-right: 1em
}

.not_in_mm .profile_meta_value {
    display: block;
    overflow: hidden;
    *zoom: 1;
    color: #adadad
}

.not_in_mm .icon_verify {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    display: inline-block;
    line-height: 9em;
    overflow: hidden
}

.not_in_mm .icon_verify.success {
    background: transparent url(//res.wx.qq.com/mmbizwap/zh_CN/htmledition/images/icon/wxverify/icon_verify_success238f07.png) no-repeat 0 0
}

.not_in_mm span.rich_media_meta_nickname {
    display: inline-block
}

.not_in_mm a.rich_media_meta_nickname {
    display: none
}

.not_in_mm .rich_media_inner {
    position: relative
}

.not_in_mm .qr_code_pc_outer {
    display: none!important;
    position: fixed;
    left: 0;
    right: 0;
    top: 20px;
    color: #717375;
    text-align: center
}

.not_in_mm .qr_code_pc_inner {
    position: relative;
    width: 740px;
    margin-left: auto;
    margin-right: auto
}

.not_in_mm .qr_code_pc {
    position: absolute;
    right: -140px;
    top: 0;
    width: 140px;
    padding: 16px;
    border: 1px solid #d9dadc;
    background-color: #fff;
    word-wrap: break-word;
    word-break: break-all
}

.not_in_mm .qr_code_pc p {
    font-size: 14px;
    line-height: 20px
}

.not_in_mm .qr_code_pc_img {
    width: 102px;
    height: 102px
}

@media screen and (min-width:1025px) {
    .not_in_mm .qr_code_pc_outer {
        display: block!important
    }
}